html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.top-navigation {
  display: flex;
  position: sticky;
  top: 0;

  text-align: center;
  justify-content: space-between;
  background-color: rgb(162, 74, 7);
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  font-family: "Signika Negative", sans-serif;
  z-index: 1;
}

.top-navigation > .links-wrapper a {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  text-decoration: none;
}

.careers-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 6fr;
}

/* NAV LINKS */
a:hover {
  transform: scale(1.1);
}
a:link {
  color: black;
}
a:visited {
  color: rgb(202, 202, 202);
}
a:active {
  color: darkorange;
}

.career-image-container {
  background-image: url("/photos/working-together-row-unsplash.jpg");
  background-color: rgb(170, 173, 164);
  font-size: 40px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: inherit;
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
}

.career-image-content {
  width: 400px;
}

.careers-list p {
  font-size: 14px;
  width: 80%;
  height: 50%;
  border: outset;
  padding: 8px;
}
.careers-list a:hover {
  cursor: pointer;
}

/* .career-image-container > .career-image-content {
  position: absolute;
  top: 15%;
  left: 45%;
  color: black;
  padding: 10px 40px;
  background-color: rgb(251, 189, 144);
  font-size: 1.85rem;
  letter-spacing: 10px;
} */

/* .career-image-container > .careers-container > .careers-list {
  display: flex;
  flex-direction: row;
} */

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  font-size: 1.2rem;
  font-family: "Signika Negative", sans-serif;
  background-color: rgb(162, 74, 7);
  color: white;
}

.footer .social-media-wrapper {
  display: grid;
  font-size: 30px;
  justify-content: center;
}
