@media (max-width: 1024px) {
  .top-navigation
    .image-container
    .image-content
    .paragraph-container
    .paragraph
    .services
    .footer-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (min-width: 100px) {
  .top-navigation
    .image-container
    .image-content
    .paragraph-container
    .paragraphs
    .services
    .footer-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* .something-wrapper {
    border: 1px;
    height: 350px;
    justify-content: space-around;
  } */

/* body {
    background-color: aquamarine;
    color: goldenrod;
  } */

/* Another break point */
/* */
